---
import Layout from '../../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';

export async function getStaticPaths() {
  // const response = await fetch('http://localhost:3000/data.json');
  const response = await fetch('https://raw.githubusercontent.com/neilsmith/ccfceja-static/preview/public/data.json');
  const data = await response.json();

  return data.teams.map((team) => {
    return { params: { team: team.slug }, props: { team: team }}
  });
}

const { team } = Astro.props;

import TwitterFeed from '../../components/TwitterFeed.astro';
import FullTimeTable from '../../components/FullTimeTable.astro';
import pitchClaret from '../../images/pitch-claret.jpg';
---
<Layout title={`Chelmsford City FC EJA - ${team.name}`}>
  <!-- Breadcrumbs Section Start -->
  <div class="rs-breadcrumbs">
      <div class="breadcrumbs-wrap">
          <Image src={ pitchClaret } width={1024} height={200} fit="cover" position="east" alt=""></Image>
          <div class="breadcrumbs-inner">
              <div class="container">
                  <div class="breadcrumbs-text">
                      <h1 class="breadcrumbs-title mb-17">{ team.name } Team</h1>
                      <div class="categories">
                          <ul>
                              <li><a href="/">Home</a></li>
                              <li class="active">{ team.name }</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Breadcrumbs Section End -->

  <!-- Info Block Start -->
  <div class="rs-single-club sec-bg md-pb-80">
    <div class="container">
      <div class="row pt-80">
        <div class="col-lg-3 col-md-12">
          <div class="rs-count d-flex justify-content-center mb-60">
              <div class="rs-counter-list">
                  <h2 class="counter-number">{ team.players.length }</h2>
                  <h4 class="counter-text">Squad Size</h4>
              </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-12">
          <div class="club-details center-md mb-30">
            <ul class="team-info-list">
              <li>
                  <strong>{ team.manager_1_position }</strong>
                  <span>{ team.manager_1_name }</span>
              </li>
              <li>
                  <strong>{ team.manager_2_position }</strong>
                  <span>{ team.manager_2_name }</span>
              </li>
              <li>
                  <strong>{ team.manager_3_position }</strong>
                  <span>{ team.manager_3_name }</span>
              </li>
              <li>
                  <strong>{ team.manager_4_position }</strong>
                  <span>{ team.manager_4_name }</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div
  <!-- Info Block End -->

  <!-- About/Squad Block Start -->
  <div class="rs-single-club pt-80 pb-80">
    <div class="container">
      <div class="title-style mb-50 md-mb-30">
        <h2 class="margin-0 uppercase">Meet the { team.name }<small>'s</small></h2>
        <span class="line-bg y-b left-line pt-10"></span>
      </div>

      <div class="row">
        <div class="col-lg-8 col-md-12 md-mb-30 mb-100">
          <div class="about-wrap">
            { team.description &&
              <p class="title-color">
                { team.description }
              </p>
            }

            { team.photo &&
              <Image src={ team.photo } width={800} height={500} format="jpeg" />
            }
          </div>
        </div>
        <div class="col-lg-4 col-md-12 md-mb-30">
          <div class="rs-pointtable inner-style condensed">
            <div class="container">
              <div class="point-table-wrap">
                <table>
                  <tbody>
                    <tr>
                        <th>Number</th>
                        <th>Player</th>
                    </tr>
                    {
                      team.players.map((player) => (
                        <tr>
                            <td>{ player.number }</td>
                            <td>{ player.name }</td>
                        </tr>
                      ))
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About/Squad Block End -->

  { team.fa_embeds &&
    <!-- Table/Blog Post Block Start -->
    <div class="rs-single-club sec-bg pt-30 pb-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-30">
            <div class="title-style mb-20">
              <h2 class="margin-0 uppercase">League Table</h2>
              <span class="line-bg y-b left-line pt-10"></span>
            </div>

            <FullTimeTable lrcode={ team.fa_embeds.table.lrcode } divisionseason={ team.fa_embeds.table.divisionseason } />
          </div>

          <div class="col-lg-6 col-md-12 mb-30">
            <div class="title-style mb-20">
              <h2 class="margin-0 uppercase">Upcoming Fixtures</h2>
              <span class="line-bg y-b left-line pt-10"></span>
            </div>

            <FullTimeTable lrcode={ team.fa_embeds.fixtures.lrcode } divisionseason={ team.fa_embeds.fixtures.divisionseason } />
          </div>
        </div>
        </div>
      </div>
    <!-- Table/Blog Post Block End -->
  }

  { team.sponsors &&
    <!-- Sponsor Logo Section Start -->
    <div class="rs-sponsor pb-35 md-pb-60 sm-pb-50">
        <div class="container">
            <h3 class="pt-30">Team Sponsors</h3>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {
                          team.sponsors.map((sponsor) => (

                          <div class="col">
                              <div class="logos">
                                  <a href={ sponsor.url } target="_blank">
                                    <Image width={150} height={150} src={ sponsor.logo } fit="contain" background="white" alt={ sponsor.name } />
                                  </a>
                              </div>
                          </div>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sponsor Logo Section End -->
  }

  { team.twitter_handle &&
    <!-- Twitter Section Start -->
    <div class="rs-single-club sec-bg pt-80 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-30">
            <TwitterFeed twitter_handle={ team.twitter_handle } />
          </div>
        </div>
      </div>
    </div>
    <!-- Twitter Section End -->
  }

</Layout>
