---
import Layout from '../../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';

export async function getStaticPaths() {
  const response = await fetch('http://localhost:3000/data.json');
  const data = await response.json();

  return data.teams.map((team) => {
    return { params: { team: team.slug }}
  });
}

const { team } = Astro.params;

const response = await fetch('http://localhost:3000/data.json');
const data = await response.json();
const current_team = data.teams.find((t) => { return (t.slug == team) })

import photo from '../../images/u15.jpg';
---
<Layout title={current_team.name}>
  <!-- Breadcrumbs Section Start -->
  <div class="rs-breadcrumbs">
      <div class="breadcrumbs-wrap">
          <Image src="/src/images/pitch-claret.jpg" width={1024} height={200} fit="cover" position="east" alt=""></Image>
          <div class="breadcrumbs-inner">
              <div class="container">
                  <div class="breadcrumbs-text">
                      <h1 class="breadcrumbs-title mb-17">{ current_team.name } Team</h1>
                      <div class="categories">
                          <ul>
                              <li><a href="index.html">Home</a></li>
                              <li class="active">{ current_team.name }</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Breadcrumbs Section End -->

  <!-- Info Block Start -->
  <div class="rs-single-club sec-bg md-pb-80">
    <div class="container">
      <div class="row pt-80">
        <div class="col-lg-3 col-md-12">
          <div class="rs-count d-flex justify-content-center mb-60">
              <div class="rs-counter-list">
                  <h2 class="counter-number">{ current_team.players.length }</h2>
                  <h4 class="counter-text">Squad Size</h4>
              </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-12">
          <div class="club-details center-md mb-30">
            <ul class="team-info-list">
              <li>
                  <strong>{ current_team.manager_1_position }</strong>
                  <span>{ current_team.manager_1_name }</span>
              </li>
              <li>
                  <strong>{ current_team.manager_2_position }</strong>
                  <span>{ current_team.manager_2_name }</span>
              </li>
              <li>
                  <strong>{ current_team.manager_3_position }</strong>
                  <span>{ current_team.manager_3_name }</span>
              </li>
              <li>
                  <strong>{ current_team.manager_4_position }</strong>
                  <span>{ current_team.manager_4_name }</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div
  <!-- Info Block End -->

  <!-- About/Squad Block Start -->
  <div class="rs-single-club pt-80 pb-80">
    <div class="container">
      <div class="title-style mb-50 md-mb-30">
        <h2 class="margin-0 uppercase">Meet the { current_team.name }<small>'s</small></h2>
        <span class="line-bg y-b left-line pt-10"></span>
      </div>

      <div class="row">
        <div class="col-lg-8 col-md-12 md-mb-30 mb-100">
          <div class="about-wrap">
            { current_team.description &&
              <p class="title-color">
                { current_team.description }
              </p>
            }

            <Image src={photo} width={800} />
          </div>
        </div>
        <div class="col-lg-4 col-md-12 md-mb-30">
          <div class="rs-pointtable inner-style condensed">
            <div class="container">
              <div class="point-table-wrap">
                <table>
                  <tbody>
                    <tr>
                        <th>Number</th>
                        <th>Player</th>
                    </tr>
                    {
                      current_team.players.map((player) => (
                        <tr>
                            <td>{ player.number }</td>
                            <td>{ player.name }</td>
                        </tr>
                      ))
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About/Squad Block End -->

  <!-- Table/Blog Post Block Start -->
  <div class="rs-single-club sec-bg pt-80 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 md-mb-30 mb-100">
          <a class="twitter-timeline" data-height="500" href={ "https://twitter.com/" + current_team.twitter_handle }">Tweets by { current_team.twitter_handle }</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-lg-6 col-md-12 md-mb-30 mb-100">
          <div class="title-style mb-20">
            <h2 class="margin-0 uppercase">League Table</h2>
            <span class="line-bg y-b left-line pt-10"></span>
          </div>

          <div id="lrep865089825" style="width: 100%"></div>
          <script language="javascript" type="text/javascript">
            var lrcode = '865089825'
          </script>
          <script language="javsscript" type="text/javascript" src="https://fulltime-league.thefa.com/client/api/cs1.js?v2"></script>
        </div>
      </div>
      <!-- Table/Blog Post Block End -->


    </div>
  </div>

    <!-- Sponsor Logo Section Start -->
    <div class="rs-sponsor pb-35 md-pb-60 sm-pb-50">
        <div class="container">
            <h3 class="pt-100">Team Sponsors</h3>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {
                          current_team.sponsors.map((sponsor) => (

                          <div class="col">
                              <div class="logos">
                                  <a href="#">
                                    <Image width={150} height={150} src={ sponsor.logo } fit="contain" background="white" alt="" />
                                  </a>
                              </div>
                          </div>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sponsor Logo Section End -->

</Layout>
