---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <!-- Breadcrumbs Section Start -->
  <div class="rs-breadcrumbs">
      <div class="breadcrumbs-wrap">
          <img src="images/breadcrumbs/inner11.jpg" alt="Breadcrumbs Image">
          <div class="breadcrumbs-inner">
              <div class="container">
                  <div class="breadcrumbs-text">
                      <h1 class="breadcrumbs-title mb-17">About</h1>
                      <div class="categories">
                          <ul>
                              <li><a href="index.html">Home</a></li>
                              <li class="active">About</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Breadcrumbs Section End -->

  <!-- About Section Start -->
  <div class="rs-about pt-100 pb-100 md-pt-80 md-pb-73">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5 md-mb-30">
                  <div class="about-img">
                      <img src="images/about/about-inner.jpg" alt="">
                  </div>
              </div>
              <div class="col-lg-7 pl-40 col-padding-md">
                  <div class="title-style mb-50 md-mb-30">
                      <h2 class="margin-0 uppercase">Best Soccer Club in USA</h2>
                      <span class="line-bg y-b left-line pt-10"></span>
                  </div>
                  <div class="about-wrap">
                      <p class="title-color">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                      <ul class="stylelisting inner-about">
                          <li>Diam sed mattis facilisi, elementum pellentesque phasellus.</li>
                          <li>Dis odio accumsan nullam aptent tempor porttitor enim eget.</li>
                          <li>Proin libero ut felis iaculis turpis ad facilisis venenatis mollis!</li>
                          <li>Natoque pharetra, sed nullam magnis dictumst hendrerit id proin quis.</li>
                          <li>Orci primis semper elementum montes curabitur nunc ultrices.</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- About Section End -->

  <!-- Counter Section Start -->
  <div class="rs-counter bg5 style1 pt-103 pb-92 md-pt-80 md-pb-70">
      <div class="container">
          <div class="rs-count">
              <div class="row">
                  <div class="col-lg-3 col-6 md-mb-30">
                      <div class="rs-counter-list text-center">
                          <h2 class="counter-number primary-color">350</h2>
                          <h3 class="counter-text uppercase white-color">Total matches</h3>
                      </div>
                  </div>

                  <div class="col-lg-3 col-6 md-mb-30">
                      <div class="rs-counter-list text-center">
                          <h2 class="counter-number primary-color">25</h2>
                          <h3 class="counter-text uppercase white-color">Total trainers</h3>
                      </div>
                  </div>

                  <div class="col-lg-3 col-6">
                      <div class="rs-counter-list text-center">
                          <h2 class="counter-number primary-color">95</h2>
                          <h3 class="counter-text uppercase white-color">Total players</h3>
                      </div>
                  </div>

                  <div class="col-lg-3 col-6">
                      <div class="rs-counter-list text-center">
                          <h2 class="counter-number primary-color">26</h2>
                          <h3 class="counter-text uppercase white-color">Total awards</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Counter Section End -->

  <!-- Team Pyaler Section Start -->
  <div class="rs-team style1 nav-style pt-92 pb-100 md-pt-72 md-pb-80">
      <div class="container">
          <div class="title-style text-center mb-50 md-mb-30">
              <h2 class="margin-0 uppercase">Team Player</h2>
              <span class="line-bg y-b pt-10"></span>
          </div>
          <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
              <div class="player-item">
                  <div class="player-img">
                      <img src="images/team/1.jpg" alt="">
                  </div>
                  <div class="detail-wrap">
                      <div class="person-details">
                          <h3 class="player-title"><span class="squad-numbers">18</span>
                              <a href="team-single.html">Semus Jemkro</a>
                              <span class="player-position">Forward</span>
                          </h3>
                      </div>
                  </div>
              </div>
              <div class="player-item">
                  <div class="player-img">
                      <img src="images/team/2.jpg" alt="">
                  </div>
                  <div class="detail-wrap">
                      <div class="person-details">
                          <h3 class="player-title"><span class="squad-numbers">03</span>
                              <a href="team-single.html">Venose Ferdon</a>
                              <span class="player-position">Midfielder</span>
                          </h3>
                      </div>
                  </div>
              </div>
              <div class="player-item">
                  <div class="player-img">
                      <img src="images/team/3.jpg" alt="">
                  </div>
                  <div class="detail-wrap">
                      <div class="person-details">
                          <h3 class="player-title"><span class="squad-numbers">11</span>
                              <a href="team-single.html">Debasti Nikor</a>
                              <span class="player-position">Defender</span>
                          </h3>
                      </div>
                  </div>
              </div>
              <div class="player-item">
                  <div class="player-img">
                      <img src="images/team/4.jpg" alt="">
                  </div>
                  <div class="detail-wrap">
                      <div class="person-details">
                          <h3 class="player-title"><span class="squad-numbers">10</span>
                              <a href="team-single.html">Sebasti Nikola</a>
                              <span class="player-position">striker</span>
                          </h3>
                      </div>
                  </div>
              </div>
              <div class="player-item">
                  <div class="player-img">
                      <img src="images/team/5.jpg" alt="">
                  </div>
                  <div class="detail-wrap">
                      <div class="person-details">
                          <h3 class="player-title"><span class="squad-numbers">06</span>
                              <a href="team-single.html">Ores Luperto</a>
                              <span class="player-position">Forward</span>
                          </h3>
                      </div>
                  </div>
              </div>
              <div class="player-item">
                  <div class="player-img">
                      <img src="images/team/6.jpg" alt="">
                  </div>
                  <div class="detail-wrap">
                      <div class="person-details">
                          <h3 class="player-title"><span class="squad-numbers">15</span>
                              <a href="team-single.html">Jores Leperto</a>
                              <span class="player-position">Defender</span>
                          </h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team Pyaler Section End -->

  <!-- Champion Awards Start -->
  <div class="rs-awards bg6 pt-92 pb-100 md-pt-72 md-pb-80">
      <div class="container">
          <div class="title-style text-center mb-50 md-mb-30">
              <h2 class="margin-0 uppercase white-color">Champion Awards</h2>
              <span class="line-bg y-w pt-10"></span>
          </div>
          <div class="rs-carousel owl-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="4" data-md-device-nav="false" data-md-device-dots="false">
              <div class="item">
                  <div class="award-wrap">
                      <div class="champion-logo">
                          <img src="images/award/1.png" alt="">
                      </div>
                      <div class="champion-details">
                          <div class="year-details">
                              <h3>UEFA Champions League</h3>
                          </div>
                          <div class="champion-no">05</div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="award-wrap">
                      <div class="champion-logo">
                          <img src="images/award/2.png" alt="">
                      </div>
                      <div class="champion-details">
                          <div class="year-details">
                              <h3>UEFA Europa League</h3>
                          </div>
                          <div class="champion-no">07</div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="award-wrap">
                      <div class="champion-logo">
                          <img src="images/award/3.png" alt="">
                      </div>
                      <div class="champion-details">
                          <div class="year-details">
                              <h3>UEFA Super Cup</h3>
                          </div>
                          <div class="champion-no">06</div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="award-wrap">
                      <div class="champion-logo">
                          <img src="images/award/4.png" alt="">
                      </div>
                      <div class="champion-details">
                          <div class="year-details">
                              <h3>FIFA Club World Cup</h3>
                          </div>
                          <div class="champion-no">03</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Champion Awards End -->

  <!-- Match Gallery Start -->
  <div class="rs-gallery style1 pt-92 md-pt-72">
      <div class="container">
          <div class="title-style text-center mb-50 md-mb-30">
              <h2 class="margin-0 uppercase">Match Gallery</h2>
              <span class="line-bg y-b pt-10"></span>
          </div>
          <div class="row pl-15 pr-15 pb-100 md-pb-80">
              <div class="col-lg-4 col-md-6 padding-0 sm-mb-30">
                  <div class="gallery-grid">
                      <img src="images/gallery/1.jpg" alt="Gallery Image">
                      <a class="image-popup view-btn" href="images/gallery/1.jpg">
                          <i class="flaticon-add-circular-button"></i>
                      </a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 padding-0 sm-mb-30">
                  <div class="gallery-grid">
                      <img src="images/gallery/2.jpg" alt="Gallery Image">
                      <a class="image-popup view-btn" href="images/gallery/2.jpg">
                          <i class="flaticon-add-circular-button"></i>
                      </a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 padding-0 sm-mb-30">
                  <div class="gallery-grid">
                      <img src="images/gallery/3.jpg" alt="Gallery Image">
                      <a class="image-popup view-btn" href="images/gallery/3.jpg">
                          <i class="flaticon-add-circular-button"></i>
                      </a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 padding-0 sm-mb-30">
                  <div class="gallery-grid">
                      <img src="images/gallery/4.jpg" alt="Gallery Image">
                      <a class="image-popup view-btn" href="images/gallery/4.jpg">
                          <i class="flaticon-add-circular-button"></i>
                      </a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 padding-0 sm-mb-30">
                  <div class="gallery-grid">
                      <img src="images/gallery/5.jpg" alt="Gallery Image">
                      <a class="image-popup view-btn" href="images/gallery/5.jpg">
                          <i class="flaticon-add-circular-button"></i>
                      </a>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 padding-0">
                  <div class="gallery-grid">
                      <img src="images/gallery/6.jpg" alt="Gallery Image">
                      <a class="image-popup view-btn" href="images/gallery/6.jpg">
                          <i class="flaticon-add-circular-button"></i>
                      </a>
                  </div>
              </div>
          </div>

          <!-- Subscribe Section Start -->
          <div class="rs-subscribe bg7">
              <form class="subscribe-form">
                  <div class="row rs-vertical-middle">
                      <div class="col-lg-6 col-md-12 md-mb-30">
                          <div class="title-part">
                              <h2 class="title white-color"> Subscribe Our Newsletter</h2>
                              <p class="desc margin-0 white-color"> Subscribe to our newsletter for getting regular updates.</p>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                          <div class="subscribe-form-fields">
                              <input type="submit" class="news-submit" value="Subscribe">
                              <input type="email" class="news-email" name="EMAIL" placeholder="EMAIL ADDRESS" required="">
                          </div>
                      </div>
                  </div>
              </form>
          </div>
          <!-- Subscribe Section End -->
      </div>
  </div>
  <!-- Match Gallery End -->
</Layout>
