<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer pt-137 md-pt-70 sm-pt-65">

    <!-- Footer Bottom Section Start -->
    <div class="footer-bootom">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-md-7">
                    <div class="copyright">
                        <p>&copy; 2023 Chelmsford City FC EJA. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section End -->
</footer>
<!-- Footer End -->

<!-- Scrool to Top Start -->
<div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div>
<!-- Scrool to Top End -->
