<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer pt-137 md-pt-70 sm-pt-65">
    <!-- Sponsor Logo Section Start -->
    <div class="rs-sponsor pb-35 md-pb-60 sm-pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="/images/sponsor/1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="/images/sponsor/2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="/images/sponsor/3.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="/images/sponsor/4.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="/images/sponsor/5.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="/images/sponsor/6.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="/images/sponsor/7.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="logos">
                                <a href="#"><img src="/images/sponsor/8.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sponsor Logo Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bootom">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-md-7">
                    <div class="copyright">
                        <p>&copy; 2023 Chelmsford City FC EJA. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-share text-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section End -->
</footer>
<!-- Footer End -->

<!-- Scrool to Top Start -->
<div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div>
<!-- Scrool to Top End -->
