---
import { Image } from '@astrojs/image/components';
---

<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer pt-137 md-pt-70 sm-pt-65">
    <!-- Sponsor Logo Section Start -->
    <div class="rs-sponsor pb-35 md-pb-60 sm-pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col">
                            <div class="logos">
                                <Image src="/logos/england-football.jpg" width={1024} height={200} fit="contain" background="white" alt=""></Image>
                            </div>
                        </div>
                        <div class="col">
                            <div class="logos">
                                <Image src="/logos/positive.jpg" width={1024} height={200} fit="contain" background="white" alt=""></Image>
                            </div>
                        </div>
                        <div class="col">
                            <div class="logos">
                                <Image src="/logos/take-a-stand.jpg" width={1024} height={200} fit="contain" background="white" alt=""></Image>
                            </div>
                        </div>
                        <div class="col">
                            <div class="logos">
                                <Image src="/logos/respect.jpg" width={1024} height={200} fit="contain" background="white" alt=""></Image>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sponsor Logo Section End -->

    <!-- Footer Bottom Section Start -->
    <div class="footer-bootom">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-md-7">
                    <div class="copyright">
                        <p>&copy; 2023 Chelmsford City FC EJA. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-share text-right">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Section End -->
</footer>
<!-- Footer End -->

<!-- Scrool to Top Start -->
<div id="scrollUp">
    <i class="fa fa-angle-up"></i>
</div>
<!-- Scrool to Top End -->
