---
import { Image } from "@astrojs/image/components";

const response = await fetch(import.meta.env.DATA_URL);
const data = await response.json();
const teams = data.teams.filter((t) => t.sponsors && t.sponsors.length);
---

<br />

{
  teams.map((team) => (
  <!-- Sponsor Logo Section Start -->
    <div class="rs-sponsor pb-35 md-pb-60 sm-pb-50">
        <div class="container">
            <h3 class="pt-30 text-center">{ team.name } Sponsors</h3>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {
                          team.sponsors.map((sponsor) => (

                          <div class="col">
                              <div class="logos">
                                  <a href={ sponsor.url } target="_blank">
                                    <Image width={150} height={150} src={`${import.meta.env.ASSET_URL}${sponsor.image}` } fit="contain" background="white" alt={ sponsor.name } />
                                  </a>
                              </div>
                          </div>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sponsor Logo Section End -->
  ))
}

<style lang="scss">
  .sponsor-item {
    img {
      max-height: 130px;
    }
  }
</style>
